# Created by .ignore support plugin (hsz.mobi)
.gradle
.idea
application-oauth.properties
application-email.properties

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/