{{>layout/header}}
<br><br><br><br><br><br>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>

            {{#userName}}
                Logged in as : <span id="user">{{userName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/userName}}

            {{^userName}}
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google</a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver</a>
            {{/userName}}

        </div>
    </div>

    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글 번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
</div>

<!--<div class="container">-->


<!--    <h1 class="my-4">Welcome to Modern Business</h1>-->

<!--    &lt;!&ndash; Marketing Icons Section &ndash;&gt;-->
<!--    <div class="row">-->
<!--        <div class="col-lg-4 mb-4">-->
<!--            <div class="card h-100">-->
<!--                <h4 class="card-header">Card Title</h4>-->
<!--                <div class="card-body">-->
<!--                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>-->
<!--                </div>-->
<!--                <div class="card-footer">-->
<!--                    <a href="#" class="btn btn-primary">Learn More</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-lg-4 mb-4">-->
<!--            <div class="card h-100">-->
<!--                <h4 class="card-header">Card Title</h4>-->
<!--                <div class="card-body">-->
<!--                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p>-->
<!--                </div>-->
<!--                <div class="card-footer">-->
<!--                    <a href="#" class="btn btn-primary">Learn More</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-lg-4 mb-4">-->
<!--            <div class="card h-100">-->
<!--                <h4 class="card-header">Card Title</h4>-->
<!--                <div class="card-body">-->
<!--                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>-->
<!--                </div>-->
<!--                <div class="card-footer">-->
<!--                    <a href="#" class="btn btn-primary">Learn More</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; /.row &ndash;&gt;-->

<!--    &lt;!&ndash; Portfolio Section &ndash;&gt;-->
<!--    <h2>Portfolio Heading</h2>-->

<!--    <div class="row">-->
<!--        <div class="col-lg-4 col-sm-6 portfolio-item">-->
<!--            <div class="card h-100">-->
<!--                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>-->
<!--                <div class="card-body">-->
<!--                    <h4 class="card-title">-->
<!--                        <a href="#">Project One</a>-->
<!--                    </h4>-->
<!--                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-lg-4 col-sm-6 portfolio-item">-->
<!--            <div class="card h-100">-->
<!--                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>-->
<!--                <div class="card-body">-->
<!--                    <h4 class="card-title">-->
<!--                        <a href="#">Project Two</a>-->
<!--                    </h4>-->
<!--                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-lg-4 col-sm-6 portfolio-item">-->
<!--            <div class="card h-100">-->
<!--                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>-->
<!--                <div class="card-body">-->
<!--                    <h4 class="card-title">-->
<!--                        <a href="#">Project Three</a>-->
<!--                    </h4>-->
<!--                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-lg-4 col-sm-6 portfolio-item">-->
<!--            <div class="card h-100">-->
<!--                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>-->
<!--                <div class="card-body">-->
<!--                    <h4 class="card-title">-->
<!--                        <a href="#">Project Four</a>-->
<!--                    </h4>-->
<!--                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-lg-4 col-sm-6 portfolio-item">-->
<!--            <div class="card h-100">-->
<!--                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>-->
<!--                <div class="card-body">-->
<!--                    <h4 class="card-title">-->
<!--                        <a href="#">Project Five</a>-->
<!--                    </h4>-->
<!--                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-lg-4 col-sm-6 portfolio-item">-->
<!--            <div class="card h-100">-->
<!--                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>-->
<!--                <div class="card-body">-->
<!--                    <h4 class="card-title">-->
<!--                        <a href="#">Project Six</a>-->
<!--                    </h4>-->
<!--                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; /.row &ndash;&gt;-->

<!--    &lt;!&ndash; Features Section &ndash;&gt;-->
<!--    <div class="row">-->
<!--        <div class="col-lg-6">-->
<!--            <h2>Modern Business Features</h2>-->
<!--            <p>The Modern Business template by Start Bootstrap includes:</p>-->
<!--            <ul>-->
<!--                <li>-->
<!--                    <strong>Bootstrap v4</strong>-->
<!--                </li>-->
<!--                <li>jQuery</li>-->
<!--                <li>Font Awesome</li>-->
<!--                <li>Working contact form with validation</li>-->
<!--                <li>Unstyled page elements for easy customization</li>-->
<!--            </ul>-->
<!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>-->
<!--        </div>-->
<!--        <div class="col-lg-6">-->
<!--            <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; /.row &ndash;&gt;-->

<!--    <hr>-->

<!--    &lt;!&ndash; Call to Action Section &ndash;&gt;-->
<!--    <div class="row mb-4">-->
<!--        <div class="col-md-8">-->
<!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>-->
<!--        </div>-->
<!--        <div class="col-md-4">-->
<!--            <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>-->
<!--        </div>-->
<!--    </div>-->

<!--</div>-->



<script type="text/javascript">

</script>

<!--<div class="container">
    <h3 class="h3">shopping Demo-5 </h3>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid5">
                <div class="product-image5">
                    <a href="#">
                        <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo11/images/img-1.jpg">
                        <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo11/images/img-2.jpg">
                    </a>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Men's Sweat Shirt</a></h3>
                    <div class="price">$11.00 - $15.00</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid5">
                <div class="product-image5">
                    <a href="#">
                        <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo11/images/img-3.jpg">
                        <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo11/images/img-4.jpg">
                    </a>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Women's Shirt</a></h3>
                    <div class="price">$10.00 - $12.00</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid5">
                <div class="product-image5">
                    <a href="#">
                        <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo11/images/img-5.jpg">
                        <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo11/images/img-6.jpg">
                    </a>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Men's Sweat Shirt</a></h3>
                    <div class="price">$11.00 - $15.00</div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid5">
                <div class="product-image5">
                    <a href="#">
                        <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo11/images/img-7.jpg">
                        <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo11/images/img-8.jpg">
                    </a>
                    <ul class="social">
                        <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <a href="#" class="select-options"><i class="fa fa-arrow-right"></i> Select Options</a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Men's Sweat Shirt</a></h3>
                    <div class="price">$11.00 - $15.00</div>
                </div>
            </div>
        </div>
    </div>
</div>-->
{{>layout/footer}}